<html>
  <head>
    <title>New user mail</title>
  </head>
  <body>
    <h3>Mail for user Approval.</h3>
    <strong>User details: </strong>
    <p>email : <strong><%= email %></strong></p>
    <p>password : <strong><%= password %></strong></p>
    <div></div>
  </body>
</html>
